body {
	font-family: 'Ysabeau', sans-serif;
	line-height: 1.5;
	color: #393232;
    margin: 20px;

    & h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 1rem;
        margin: 1.2em;  
    }
    & h2 {
            font-size: 1.5rem;
        }
}

form{
    width: auto;
    display: flex;
    justify-content: space-between;

    & input{
        flex: 2;
        height: 50px;
        border-radius: 5px;
        margin-right: 10px;
    }
    & .searchButton{
        flex: 1;
        height: 50px;
        border-radius: 5px;
        box-sizing: content-box;
        &:hover{
            background-color: grey;
            color: white;
        }
    }
}

.formResult{
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    

    & .resultats{
        display: flex;
        flex: 2;
        height: 50px;
        border: 1px solid black;
        margin-right: 10px;
        border-radius: 5px;
        box-sizing: content-box;
        padding-top:1px;
        padding-bottom:1px;
        
        & h3{
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    & button{
        flex: 1;
        height: 50px;
        box-sizing: content-box;
        border-radius: 5px;
        &:hover{
            background-color: grey;
            color: white;
        }
    }
}

.detailCity{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 4px;
    padding-right: 4px;
}